# Исследование надёжности заёмщиков
<br>

В данном исследовании будут изучены данные, касающиеся поведения заемщиков. В нем можно найти ответы на некоторые вопросы, которые позволяют настроить систему скоринга и предположить возможное поведение заемщика, вероятность наличия задолженности. Кроме того, будут обрисованы базовые тренды и будет дана их интерпретация.
<br>
## Содержание
<br>
<a id='1 Предварительное изучение данных.'></a>
<br>1. <a href='#1 Предварительное изучение данных.'>Предварительное изучение данных.</a> 
<a id='1.1 Результаты анализа и перспективы обработки'></a>
<br>1.1 <a href = "#1.1 Результаты анализа и перспективы обработки">Результаты анализа и перспективы обработки</a>
<a id='2 Первичная очистка данных.'></a>
<br>2. <a href = '#2 Первичная очистка данных.'>Первичная очистка данных</a>
<a id='2.1 Заполнение пропусков'></a>
<br>2.1 <a href = '#2.1 Заполнение пропусков'>Заполнение пропусков</a>
<a id='2.2 Замена ошибочных значений'></a>
<br>2.2 <a href = '#2.2 Замена ошибочных значений'>Замена ошибочных значений</a>
<a id='2.3 Результаты первичной очистки'></a>
<br>2.3 <a href = '#2.3 Результаты первичной очистки'>Результаты первичной очистки</a>
<a id='3 Подготовка данных к анализу'></a>
<br>3. <a href = '#3 Подготовка данных к анализу'>Подготовка данных к анализу</a>
<a id='3.1 Изменение ошибочных или неподходящих типов данных'></a>
<br>3.1 <a href = '#3.1 Изменение ошибочных или неподходящих типов данных'>Изменение ошибочных или неподходящих типов данных</a>
<a id='3.2 Удаление дубликатов'></a>
<br>3.2 <a href = '#3.2 Удаление дубликатов'>Удаление дубликатов</a>
<a id='3.3 Перевод строковых значений в набор лемм'></a>
<br>3.3 <a href = '#3.3 Перевод строковых значений в набор лемм'>Перевод строковых значений в набор лемм</a>
<a id='3.4 Формирование категоризирующих полей для дальнейшего анализа категорий'></a>
<br>3.4 <a href = '#3.4 Формирование категоризирующих полей для дальнейшего анализа категорий'>Формирование категоризирующих полей для дальнейшего анализа категорий</a>
<a id='4 Анализ данных'></a>
<br>4. <a href = '#4 Анализ данных'>Анализ данных</a>
<a id='4.1 Сравнительный анализ категорий по количеству детей в отношении наличия задолженности'></a>
<br>4.1 <a href = '#4.1 Сравнительный анализ категорий по количеству детей в отношении наличия задолженности'>Сравнительный анализ категорий по количеству детей в отношении наличия задолженности</a>
<a id='4.2 Сравнительный анализ категорий по семейному положению в отношении наличия задолженности'></a>
<br>4.2 <a href = '#4.2 Сравнительный анализ категорий по семейному положению в отношении наличия задолженности'>Сравнительный анализ категорий по семейному положению в отношении наличия задолженности</a>
<a id='4.3 Сравнительный анализ категорий по уровню дохода в отношении наличия задолженности'></a>
<br>4.3 <a href = '#4.3 Сравнительный анализ категорий по уровню дохода в отношении наличия задолженности'>Сравнительный анализ категорий по уровню дохода в отношении наличия задолженности</a>
<a id='4.4 Сравнительный анализ категорий по цели кредита в отношении наличия задолженности'></a>
<br>4.4 <a href = '#4.4 Сравнительный анализ категорий по цели кредита в отношении наличия задолженности'>Сравнительный анализ категорий по цели кредита в отношении наличия задолженности</a>
<a id='5 Общие наблюдения и выводы'></a>
<br>5. <a href = '#5 Общие наблюдения и выводы'>Общие наблюдения и выводы</a>

### 1 Предварительное изучение данных.

In [1]:
import pandas as pd
initial_df = pd.read_csv('/datasets/data.csv')
print(initial_df.head(15))

initial_df.info()

    children  days_employed  dob_years            education  education_id  \
0          1   -8437.673028         42               высшее             0
1          1   -4024.803754         36              среднее             1
2          0   -5623.422610         33              Среднее             1
3          3   -4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0    -926.185831         27               высшее             0
6          0   -2879.202052         43               высшее             0
7          0    -152.779569         50              СРЕДНЕЕ             1
8          2   -6929.865299         35               ВЫСШЕЕ             0
9          0   -2188.756445         41              среднее             1
10         2   -4171.483647         36               высшее             0
11         0    -792.701887         40              среднее             1
12         0            NaN         65              среднее             1
13         0   -1846.641941         54  неоконченное высшее             2
14         0   -1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  \
0    женат / замужем                 0      F   сотрудник     0
1    женат / замужем                 0      F   сотрудник     0
2    женат / замужем                 0      M   сотрудник     0
3    женат / замужем                 0      M   сотрудник     0
4   гражданский брак                 1      F   пенсионер     0
5   гражданский брак                 1      M   компаньон     0
6    женат / замужем                 0      F   компаньон     0
7    женат / замужем                 0      M   сотрудник     0
8   гражданский брак                 1      F   сотрудник     0
9    женат / замужем                 0      M   сотрудник     0
10   женат / замужем                 0      M   компаньон     0
11   женат / замужем                 0      F   сотрудник     0
12  гражданский брак                 1      M   пенсионер     0
13   женат / замужем                 0      F   сотрудник     0
14  гражданский брак                 1      F   компаньон     1

     total_income                            purpose
0   253875.639453                      покупка жилья
1   112080.014102            приобретение автомобиля
2   145885.952297                      покупка жилья
3   267628.550329         дополнительное образование
4   158616.077870                    сыграть свадьбу
5   255763.565419                      покупка жилья
6   240525.971920                  операции с жильем
7   135823.934197                        образование
8    95856.832424              на проведение свадьбы
9   144425.938277            покупка жилья для семьи
10  113943.491460               покупка недвижимости
11   77069.234271  покупка коммерческой недвижимости
12            NaN                    сыграть свадьбу
13  130458.228857            приобретение автомобиля
14  165127.911772         покупка жилой недвижимости
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### 1.1 Результаты анализа и перспективы обработки

* 'children' - целочисленный тип, пропусков нет. Поле характеризует количество детей у человека. 47 значений (-1) - ошибки, необходимо взять занчения по модулю. 76 значений 20 - ошибки, скорее всего, лишний ноль, то есть нужно поменять на 2.
* 'days_employed' - вещественный тип, пропуски в тех же строках, что и в 'total_income'. Вероятно, нет данных о работе человека или он безработный. Поле характеризует количество отработанных дней. Неясно, как количество дней может быть нецелым или отрицательным. Возможно, ошибка, притом системная.
* 'dob_years' - цлочисленный тип, пропусков нет, ошибок нет. 
* 'education' - строчный тип, пропусков нет. Не так много уникальных значений, но из-за регистра возникают сложности. Необходимо привести все к единому регистру. Характеризует уровень образования у человека.
* 'education_id' - целочисленное значение, характеризующее уровень образования у индексом от 0 до 4. 0 - высшее; 1 - среднее, 2 - неоконченное высшее; 3 - начальное; 4 - ученая степень. Все соответствия выставлены верно, ошибок нет.
* 'family_status' - строчный тип, пропусков нет, ошибок нет. Характеризует семейный статус.
* 'family_status_id' - целочисленное значение, пропусков нет, ошибок нет. зарактеризует семейный статус индексами от 0 до 4. 0 - женат / не замужем; 1 - гражданский брак; 2 - вдовец / вдова; 3 - в разводе; 4 - Не женат / не замужем. Все соответствия выставлены верно, ошибок нет.
* 'gender' - строчный тип. Характеризует пол человека. Есть ошибка в строке 10701, "артефактное" значение 'XNA' . Вероятно значение просто пропущено, так как ошибка несистемная, в прямом смысле единичная. В дальнейшем можно будет пожертвовать этим наблюдением при необходимости.
* 'income_type' - строчный тип, ошибок нет, пропусков нет. Характеризует должность | Тип заработка | Карьерный статус.
* 'debt' - целочисленный тип, ошибок нет, пропусков нет. Логическая переменная, характеризующая наличие долга.
* 'total_income' - вещественный тип, ошибок нет. Вероятно, не имеет смысла хранение информации с вещественной точностью, можно перевести в целочисленную для упрощения восприятия, более быстрой работы и оптимизации памяти. Характеризует размер заработка человека. Пропуски и их природа описаны выше.
* 'purpose' - строчный тип, пропусков нет. Требуется лемматизация, так как много дублирующих категорий. Характеризует цель займа.
* Общие наблюдения: 52 полных дубликата, притом в них всех пропуск по полям 'days_employed', 'total_income'.

### 2 Первичная очистка данных.

### 2.1 Заполнение пропусков

In [2]:
def categorial_fillna(df, column_with_nan, categorial_column, subcategorial_column, method_fill):
    categories = df[categorial_column].unique()
    subcategories = df[subcategorial_column].unique()
    column_without_nan = column_with_nan
    for category in categories:
        for subcategory in subcategories:
            if method_fill == 'median':
                df.loc[(df[categorial_column]==category)&(df[subcategorial_column]==subcategory), column_with_nan] = df[(df[categorial_column]==category)&(df[subcategorial_column]==subcategory)][column_with_nan].fillna(value = df[df[categorial_column]==category][column_with_nan].sort_values().median())
            elif method_fill == 'mean':
                df.loc[(df[categorial_column]==category)&(df[subcategorial_column]==subcategory), column_with_nan] = df[(df[categorial_column]==category)&(df[subcategorial_column]==subcategory)][column_with_nan].fillna(value = df[df[categorial_column]==category][column_with_nan].sort_values().mean())
                
    return df
initial_df['days_employed'] = initial_df['days_employed'].abs()
new_df = categorial_fillna(initial_df, 'days_employed', 'dob_years', 'education_id', 'mean')
new_df = categorial_fillna(initial_df, 'total_income', 'dob_years', 'income_type', 'median')
new_df = new_df.loc[new_df['gender']!='XNA'].reset_index(drop = True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21524 entries, 0 to 21523
Data columns (total 12 columns):
children            21524 non-null int64
days_employed       21524 non-null float64
dob_years           21524 non-null int64
education           21524 non-null object
education_id        21524 non-null int64
family_status       21524 non-null object
family_status_id    21524 non-null int64
gender              21524 non-null object
income_type         21524 non-null object
debt                21524 non-null int64
total_income        21524 non-null float64
purpose             21524 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### 2.2 Замена ошибочных значений

In [3]:
new_df['children'] = new_df['children'].replace(20, 2)
new_df['children'] = new_df['children'].replace(-1, 1)
print(new_df.loc[new_df['children']==-1])

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

### 2.3 Результаты первичной очистки

* Пропуски в 'days_employed' заменены средними значениями (метод .mean()) этого поля из соответствующих категорий 'dob_years' и 'education_id'. Категоризация по данным признакам была учтена, поскольку они больше остальных связаны со стажем работы человека. Непосредственно для замены использовался метод .fillna(). Также, предварительно перед заменой все значения были взяты по модулю, поскольку большое количество отрицательных значений сказывалось на точности среднего (а отрицательных быть не может).
* Пропуски в 'total_income' заменены медианными значениями (метод .median()) этого поля из соответствующих категорий 'dob_years' и 'income_type'. Категоризация по данным признакам была учтена, поскольку они больше остальных связаны с уровнем заработка человека. Непосредственно для замены использовался метод .fillna().
* Удалена строка, содержащая в поле 'gender' значение 'XNA'. 
* Значения 20 и -1 в 'children' заменены на 2 и 1 соответственно.

### 3 Подготовка данных к анализу

### 3.1 Изменение ошибочных или неподходящих типов данных

In [4]:
new_df[['days_employed', 'total_income']] = new_df[['days_employed', 'total_income']].astype(int)
new_df.info()
#print(new_df[['days_employed', 'total_income']].head(30))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21524 entries, 0 to 21523
Data columns (total 12 columns):
children            21524 non-null int64
days_employed       21524 non-null int64
dob_years           21524 non-null int64
education           21524 non-null object
education_id        21524 non-null int64
family_status       21524 non-null object
family_status_id    21524 non-null int64
gender              21524 non-null object
income_type         21524 non-null object
debt                21524 non-null int64
total_income        21524 non-null int64
purpose             21524 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Вывод

Данные в столбцах 'days_employed', 'total_income' переведены в тип int32 посредством метода .astype(). Выдвинутая изначально теория об оптимизации памяти оправдалась: DataFrame 'уменьшился' примерно на 200КБ. Очевидно, визуальное восприятие данных тоже улучшилось.

### 3.2 Удаление дубликатов

In [5]:
new_df['education'] = new_df['education'].str.lower()
new_df = new_df.drop_duplicates()
new_df.info()
#print(new_df[new_df.duplicated()])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21453 entries, 0 to 21523
Data columns (total 12 columns):
children            21453 non-null int64
days_employed       21453 non-null int64
dob_years           21453 non-null int64
education           21453 non-null object
education_id        21453 non-null int64
family_status       21453 non-null object
family_status_id    21453 non-null int64
gender              21453 non-null object
income_type         21453 non-null object
debt                21453 non-null int64
total_income        21453 non-null int64
purpose             21453 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

### Вывод

Удалены все дубликаты. Заранее столбец 'education' приведен к нижнему регистру методом .str.lower() для более точного определения дубликатов.

### 3.3 Перевод строковых значений в набор лемм

In [6]:
from pymystem3 import Mystem
m = Mystem()
def lemmatization(row):
    lemma = ''.join(m.lemmatize(row))
    return lemma
new_df['purpose_lemmatize'] = new_df['purpose'].apply(lemmatization)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21453 entries, 0 to 21523
Data columns (total 13 columns):
children             21453 non-null int64
days_employed        21453 non-null int64
dob_years            21453 non-null int64
education            21453 non-null object
education_id         21453 non-null int64
family_status        21453 non-null object
family_status_id     21453 non-null int64
gender               21453 non-null object
income_type          21453 non-null object
debt                 21453 non-null int64
total_income         21453 non-null int64
purpose              21453 non-null object
purpose_lemmatize    21453 non-null object
dtypes: int64(7), object(6)
memory usage: 2.3+ MB

### Вывод

Проведена лемматизация данных столбца 'purpose'. К каждой строке применена функция lemmatization, которая на вход получает строку, разбивает ее содержимое на леммы, объединяет строку методом .join() и возвращает целую строку - набор лемм исходной строки.

### 3.4 Формирование категоризирующих полей для дальнейшего анализа категорий

In [7]:
MIN = int(new_df['total_income'].min())
MAX = int(new_df['total_income'].max())
def income_category(row):
    if row < 45000:
        return 'Уязвимое население'
    elif row < 75000:
        return 'Низший средний класс'
    elif row < 130000:
        return 'Средний средний класс'
    elif row < 600000:
        return 'Высший средний класс'
    else:
        return 'Богатые'
new_df['income_category'] = new_df['total_income'].apply(income_category)
purpose_categories = ['жилье', 'автомобиль', 'образование', 'свадьба']
def category(row):
    if 'коммерческий' in row:
        return 'коммерческая недвижимость'
    for element in purpose_categories:
        if element in row:
            return element
    if 'недвижимость' in row:
        return 'жилье'
new_df['purpose_categories'] = new_df['purpose_lemmatize'].apply(category)
print(new_df['purpose_categories'].unique())

['жилье' 'автомобиль' 'образование' 'свадьба' 'коммерческая недвижимость']

### Вывод

* Данные категоризированы до достатку. Люди с достатком менее 45 тысяч отнесены к уязвимому населению. С достатком от 45 до 75 тысяч к низшему среднему классу. Люди, зарабатывающие от 75 до 130 тысяч признаны средним средним классом. Тем, чей достаток находится в промежутке от 130 до 600 тысяч, присвоена группа "Высший средний класс". Остальные признаны богатыми.
* Даные категоризированы по цели займа. Определены категории: жилье, автомобиль, образование, свадьба.

### 4 Анализ данных

### 4.1 Сравнительный анализ категорий по количеству детей в отношении наличия задолженности

In [8]:
print(new_df.groupby('children')['debt'].agg(['sum', 'count', 'mean']).sort_values('mean'))
def child_bool(row):
    if row ==0:
        return False
    else:
        return True
new_df['child_existance'] = new_df['children'].apply(child_bool)
print(new_df.groupby('child_existance')['debt'].agg(['sum', 'count', 'mean']).sort_values('mean'))

           sum  count      mean
children
5            0      9  0.000000
0         1063  14090  0.075444
3           27    330  0.081818
1          445   4855  0.091658
2          202   2128  0.094925
4            4     41  0.097561
                  sum  count      mean
child_existance
False            1063  14090  0.075444
True              678   7363  0.092082

### Вывод

Для групп с 4 и 5 детьми недостаточно данных: по сравнению с другими группами некорректно делать выводы, так как всего 41 и 9 наблюдений соответственно. Далее в рассуждениях они исклюсаются из выборки. Наибольшая частота задолженностей наблюдается у группы с двумя детьми - 9,5% представителей имеют задолженность. Наименьшее число задолженностей наблюдается у группы без детей - 7,5% представителей имеют задолженность. Интересно, что имеющие одного ребенка чаще просрачивают платеж по сравнению с теми, у кого трое детей: 8,2% против 9,2%. Однако этот выво может оказаться неверным, так как число наблюдений, где количество детей равно трем, значительно меньше, чем в остальных группах. 
<br>
 <br> Если говорить исключительно о наличии и отсутствии детей, то группы имеют частоту задолженности 7,5% и 9,2% соответственно. Стоит оговориться, что здесь мы учли и группы с 4-5 детьми, поскольку эти данные репрезентативны в контексте группировки по наличию и отсутствию детей. Опираясь только на эти два показателя, то можно сказать, что люди с детьми примерно на 1,7% чаще имеют задолженность.
 <br>
 <br> В целом, зависимость есть. Если исключить значения 'children' от 3 до 5, признав данные нерепрезентативными ввиду сравнительно малого количества наблюдений, то прослеживается прямая логика: больше детей - меньше возвратов кредита в срок. Если же мы включим группу "3", то она станет второй по "порядочности" после "0".
 <br>
  <br> В любом случае, частотности задолженности между группами не так разительно отличаются друг от друга: менее 2% между крайними группами. Однако нельзя не признать наличие таковой зависимости.

### 4.2 Сравнительный анализ категорий по семейному положению в отношении наличия задолженности

In [9]:
df_grouped = new_df.groupby('family_status')['debt'].agg(['sum', 'count', 'mean'])
print(df_grouped.sort_values('mean'))
def married(row):
    if (row == 'вдовец / вдова') or (row == 'в разводе') or (row == 'женат / замужем'):
        return 'Брак был или есть'
    else:
        return 'Никогда не состоял(а) в браке'
new_df['married'] = new_df['family_status'].apply(married)
df_grouped = new_df.groupby('married')['debt'].agg(['sum', 'count', 'mean'])
print(df_grouped.sort_values('mean'))

                       sum  count      mean
family_status
вдовец / вдова          63    959  0.065693
в разводе               85   1195  0.071130
женат / замужем        931  12339  0.075452
гражданский брак       388   4150  0.093494
Не женат / не замужем  274   2810  0.097509
                                sum  count      mean
married
Брак был или есть              1079  14493  0.074450
Никогда не состоял(а) в браке   662   6960  0.095115

### Вывод

Из данных очевидно, что самые недобропорядочные заемщики - одинокие люди, не бывшие в браке. Интересно, что самые добропорядочные заемщики это те, кто потерял супруга или находится в разводе (6,5% и 7,1% имеют задолженность). Кроме того, мы можем сказать, что люди, предпочитающие не регистрировать официальный брак, на 1,8% чаще имеют задолженность по кредиту, чем официально состоящие в браке. Можно сделать предположение, что официальная регистрация и кредитная добропорядочность коррелируют с фактором "ответственности" людей.
<br>
Между теми, кто был или находится в официальном браке не определяется существенная разница по доле людей с задолженностью (менее 1% в любом случае). Так, данные можно поделить по признаку наличия в жизни официального брака. Гипотеза: люди, которые никогда не состояли в официальном браке чаще имеют задолженность.
<br>
Гипотеза подтвердилась: люди, которые никогда не состояли в официальном браке, на 2,1% чаще имеют задолженность, чем те, у кого брак в жизни был.
<br>
Так, зависимость между семейным статусом и наличием задолженности существует, однако для ее ясного обнаружения требуется иная категоризация.

### 4.3 Сравнительный анализ категорий по уровню дохода в отношении наличия задолженности

In [10]:
df_grouped1 = new_df.groupby('income_category')['debt'].agg(['sum', 'count', 'mean'])
print(df_grouped1.sort_values('mean'))
data_pivot = new_df.pivot_table(index='income_category', values='debt', aggfunc=['sum', 'count', 'mean'])
print(data_pivot)

                        sum  count      mean
income_category
Уязвимое население       14    217  0.064516
Богатые                   8    109  0.073394
Низший средний класс    122   1648  0.074029
Высший средний класс   1069  13148  0.081305
Средний средний класс   528   6331  0.083399
                        sum  count      mean
                       debt   debt      debt
income_category
Богатые                   8    109  0.073394
Высший средний класс   1069  13148  0.081305
Низший средний класс    122   1648  0.074029
Средний средний класс   528   6331  0.083399
Уязвимое население       14    217  0.064516

### Вывод

Интересный факт, который сразу бросается в глаза: уязвимое население реже всех остальных групп имеет задолженность по кредиту (всего 6,5% случаев). Возможно это связано с тем, что они очень жестко планируют бюджет. Далее идут богатые и низший средний класс с 7,3% и 7,4% случаев, в которых люди имеют задолженность. Высший средний класс в 8,1% случаев просрачивают выплаты. Представители среднего среднего класса наименее добросовестны - в 8,3% случаев они имеют задолженность
 <br> В целом, сложно сказать о линейной зависимости от самых бедных до самых богатых. Такое распределние можно интерпретировать следующим образом: уязвимое население лучше остальных планирует свои финансы. Когда человек переходит из категории уязвимого населения в низший средний класс, он "расслабляется" и начинает хуже планировать. Он становится менее дисциплинированным в финансовом смысле, хотя, на самом деле, еще не может себе этого позволить. Пик "антидисциплинированности" приходится на средний средний класс. Далее тенденция идет на убыль - высший средний класс и богатые реже имеют задолженность, чем средний средний класс. Во-первых, это связано с очевидным ростом доходов и, как следствие, появлением денег на "незапланированные расходы". Во-вторых, люди, переходящие в категории богатых и высшего среднего класса, вероятно, изначально более грамотны в финансовом понимании.

### 4.4 Сравнительный анализ категорий по цели кредита в отношении наличия задолженности

In [11]:
print(new_df.groupby('purpose_categories')['debt'].agg(['sum', 'count', 'mean']).sort_values('mean'))

                           sum  count      mean
purpose_categories
жилье                      683   9499  0.071902
коммерческая недвижимость   99   1311  0.075515
свадьба                    186   2324  0.080034
образование                370   4013  0.092200
автомобиль                 403   4306  0.093590

### Вывод

Зависимость от разных целей кредита определенно есть: чаще всего имеют задолженность те, кто брал кредит на автомобиль (9,3% случаев). Самые добропорядочные заемщики это ипотечные кредиторы: только 7,2% заемщиков имеют задолженность. Те, кто берет кредит на коммерческую недвижимость и на свадьбу имеют задолженность в 7,5% и 7,9% случаев соотвественно. Те, кто берет кредит на образование, в 9,2% случаев просрачивают выплаты.

In [12]:
new_df.pivot_table(
    index='income_category', columns = 'child_existance',values='debt', aggfunc=['mean']).round(3).fillna(0)*100

                       mean
child_existance       False True
income_category
Богатые                 9.8   4.2
Высший средний класс    7.6   9.1
Низший средний класс    6.5   9.5
Средний средний класс   7.8   9.5
Уязвимое население      7.0   5.1

### 5 Общие наблюдения и выводы

В целом, доля людей, которые имеют прочроченные платежи по кредиту, в зависимости от категории находится в диапазоне от 6,5% до 9,5%. Можно сказать, что наблюдаются различные зависимости внутри категорий, но слишком больших отклонений нет. Говоря иначе, распределение плотное, сконцентрировано в довольно узком диапазоне.

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.